QtProject.conf
baloofileinformationrc
dconf/
dolphinrc
go/
google-chrome/
kde.org/
kiorc
mimeapps.list
pavucontrol.ini
pulse/
session/
systemd/
trashrc
unity3d/
user-dirs.dirs
user-dirs.locale
vlc/
filetypesrc
