@define-color BG #CBC7AF;
@define-color workspacesBG1 #CBC7AF;
@define-color workspacesBG2 #444139;
@define-color bordercolour #FFFFFF;
@define-color textcolour #1a1a1a;
@define-color iconcolour #000000;


* {
	font-family: "Rodin-Regular", sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.2);
    border: none;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* WORKSPACES */

#workspaces {
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: @textcolour;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 50%;
	background-color: @workspacesBG1;
	transition: all 0.3s ease-in-out;
}

#workspaces button.active {
	color: @textcolor;
	background: @workspacesBG2;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @textcolor;
    background: @workspacesBG1;
    border-radius: 15px;
}

/* Tooltips */

tooltip {
    border-radius: 10px;
    background-color: @BG;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @textcolour;
}

/* Modules */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* Custom shit */

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding:0px;
    font-size:20px;
    color: @iconcolour;
}

/* Clock */

#clock {
    background-color: @BG;
    font-size: 16px;
    color: @textcolour;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

/* Pulseaudio */

#pulseaudio {
    background-color: @BR;
    font-size: 16px;
    color: @textcolour;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#pulseaudio.muted {
    background-color: @BG;
    color: @textcolour;
}

/* Battery */

#battery {
    background-color: @BG;
    font-size: 16px;
    color: @textcolour;
    border-radius: 15px;
    padding: 2px 15px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#battery.charging, #battery.plugged {
    color: @textcolour;
    background-color: @BG
}

@keyframes blink {
    to {
        background-color: @BG;
        color: @textcolour;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textcolour;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Windows */

#window {
    background: @BG;
    margin: 10px 15px 10px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color:@textcolor2;
    font-size:16px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

